<h1 class="page-heading">All Posts</h1>

<div class="container">
  <p-table
    [value]="allPosts"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="7"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[7, 14, 21]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="USER_ID">
          PRODUCT OWNER<p-sortIcon field="USER_ID"></p-sortIcon>
        </th>
        <th pSortableColumn="PRODUCT_NAME">
          PRODUCT NAME<p-sortIcon field="PRODUCT_NAME"></p-sortIcon>
        </th>
        <th pSortableColumn="PRODUCT_DESCRIPTION">
          PRODUCT DESC<p-sortIcon field="PRODUCT_DESCRIPTION"></p-sortIcon>
        </th>
        <th pSortableColumn="BID_STATUS">
          BID STATUS<p-sortIcon field="BID_STATUS"></p-sortIcon>
        </th>
        <th>ACTION</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-post>
      <tr>
        <td>{{ post.USER_ID }}</td>
        <td>{{ post.PRODUCT_NAME }}</td>
        <td>{{ post.PRODUCT_DESCRIPTION }}</td>
        <td>{{ post.BID_STATUS }}</td>
        <button
          type="button"
          class="bid"
          title="make bid"
          (click)="
            toggleMakeBidForm(post.USER_ID, post.PRODUCT_NAME, post.PRODUCT_ID)
          "
        >
          BID
        </button>
      </tr>
    </ng-template>

    <app-bid-form
      [showSelf]="showBidForm"
      [posterId]="posterId"
      [productName]="productName"
      [productId]="productId"
    ></app-bid-form
  ></p-table>
</div>
