<h1 class="page-heading">All Bids</h1>    

<div class="list-heading-3">
        <h3 class="badge">bid</h3>
        <h3 class="">status:type</h3>
        <h3 class="">status:settled</h3>
        <h3 class="">publisher-id</h3> 
        <h3 class="">product-id</h3>  
        <h3 class="">running-at</h3>  

</div>
<ol class="all-bids-list"> 
    <li *ngFor="let bid of allBids">
        <div class="bid-item"> 
            <span class="badge">{{bid.id}}</span>
            <span class="title">{{bid.id}}</span>
            <span class="price">{{bid.biddingRate}}./-</span>
        </div>
        <button type="button" class="offer-btn" title="make bid" (click)="toggleShowBidForm()"> bid</button>
    </li>
</ol>

<!-- <i class="fa fa-check" aria-hidden="true"></i> -->

<app-bid-form [showSelf]="showBidForm"></app-bid-form>