<h1 class="page-heading">Applied Bids</h1>    

<div class="list-heading-3">
        <h3 class="badge">bid</h3>
        <h3 class="title">title</h3>
        <h3 class="running_price">running_price</h3>
        <h3 class="my_offer">my offer</h3>
</div>
<ol class="all-bids-list"> 
    <li *ngFor="let bid of appliedBids">
        <div class="bid-item"> 
            <span class="badge">{{bid.pid}}</span>
            <span class="title">{{bid.title}}</span>
            <span class="running_price">{{bid.running_price}}./-</span>
            <span class="my_offer">{{bid.running_price}}./-</span>
        </div>
        <button type="button" class="offer-btn" title="make bid" (click)="toggleShowBidForm()"> bid</button>
    </li>
</ol>

<!-- <i class="fa fa-check" aria-hidden="true"></i> -->

<app-bid-form [showSelf]="showBidForm"></app-bid-form>