<h1 class="page-heading">All Bids</h1>    

<div class="list-heading-3">
    <h3 class="badge">bid</h3>
    <h3 class="">status:type</h3>
    <h3 class="">status:settled</h3>
    <h3 class="">publisher-id</h3> 
    <h3 class="">product-Name</h3>  
    <h3 class="">running-at</h3>  
</div>
<ol class="all-bids-list">

    <li *ngFor="let bid of allBids">
        <div class="bid-item"> 
            <span class="">{{bid.id}}</span>

            <span class="">{{bid.bid_status}}</span>
            <span class="">{{bid.isSettled?true:false}}</span>
            <span class="">{{bid.userId}}</span> 
            <span class="">{{bid.productName}}</span>  
            <span class="">{{bid.biddingRate}}/-</span>  

            <!-- <span class="title">{{bid.id}}</span>
            <span class="price">{{bid.id}}./-</span> -->
        </div>
        <button type="button" class="remove" title="remove bid"
        (click)="removeBid(bid)">
        <i class="fa-solid fa-trash-can"></i>
        </button>
    </li>
</ol>