h2 {
    text-align: center;
  }

#dashboard-heading{
    margin-bottom: 2rem;
    color: slategray;
  }
  
  .my-info-section{
    background-color:aliceblue;
    padding: 1rem 0;
    margin-bottom: 3rem;
  }

  .info-tab{
    display: flex;
    justify-content: center;
    margin: 4px 0;
  }
  
  .info-tab label{
    font-weight: 600;
    color:slategrey;
    margin-right: 10px;
  }
  
  .info-tab p{
    font-size: 19px;
  }