@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500&display=swap');


h2 {
    text-align: center;
  }

#dashboard-heading{
    margin: 4rem 0;
    color: slategray;
  }
  
  .my-info-section{
    font-size: 1.3rem;
    padding: 1rem 0;
    margin-bottom: 3rem;
    
  }
  .my-info-section .info-tab{ 
    width: 30%;
    margin: 0 auto; 
    color:olivedrab;
    display: flex;
    justify-content: center; 
  }
  
  .info-tab label{
    font-weight: 300;
    color:black;
    margin-right: 10px;
  }
  
  .info-tab p{
    font-weight: 600;
  }