<h2 id="dashboard-heading">{{myName}} | {{"Dashboard"|uppercase}} </h2>
<div class="my-info-section">
     <div class="info-tab">
         <label for="full-name">name: </label>
         <p id="full-name">{{myName}}</p>
     </div>

     <div class="info-tab">
        <label for="acc-id">id: </label>
        <p id="acc-id">{{myId}}</p>
     </div>

     <div class="info-tab">
        <label for="roles">account type: </label>
        <p id="roles">{{myRoles}}</p>
     </div>
</div>

<app-admin-dashboard-summary></app-admin-dashboard-summary>