
<!-- <div id="new-bid-form">
    <label for="new-hero">new bid:</label>
    <input type="text" name="new-hero" id="new-hero" placeholder="bit title.." #bidTitle>
    <button type="button" class="add-btn" (click)="add(bidTitle.value); bidTitle.value=''">add</button>
</div> -->
<app-post-bid></app-post-bid>

<ul class="heroes">
    <h2>recent bids</h2>
    <div id="bids-heading">
        <small>id</small>
        <small>title</small>
        <small>running for</small>
    </div>
    <li *ngFor="let bid of bids">
        <a routerLink="/detail/{{bid.pid}}">     
            <span class="badge">{{bid.pid}}</span>
            <span class="name">{{bid.title}}</span>
            <span class="price">{{bid.running_price}}</span>
        </a>
        <button type="button" class="delete" title="delete bid"
        (click)="delete(bid)">x</button>
    </li>
</ul>
<!-- <app-hero-detail [hero]="clickedHero"></app-hero-detail> -->
