<div id="login-card">
  <h2>BIDDING APP | LOGIN</h2>

  <form action="" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <span class="p-float-label">
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="loginUserData.username"
          pInputText
        />
        <label for="username">User name</label>
      </span>
    </div>

    <div class="form-control">
      <span class="p-float-label">
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="loginUserData.password"
          pInputText
        />
        <label for="password">Password</label>
      </span>
    </div>

    <button
      class="p-button-rounded"
      type="submit"
      id="btn-login"
      label="Login"
      pButton
    ></button>
  </form>
</div>
