<div id="login-card">
    <h2>BIDDING APP | LOGIN</h2>
   
    <form action="" (ngSubmit)="onSubmit()"> 
        <div class="form-control">
            <label for="username">username: </label>
            <input [(ngModel)]="loginUserData.username" type="text" name="username" id="username" placeholder="username..">
        </div>
        <div class="form-control">
            <label for="password">password: </label>
            <input [(ngModel)]="loginUserData.password" type="password" name="password" id="password" placeholder="password..">
        </div>
        <button type="submit" id="btn-login">Login</button>
    </form>
</div>
 