.create-bid-form{
    width: 40%;
    background-color:darkseagreen;
    border-radius: 10px;
    padding: .7rem 1.1rem;
    border: 2px solid darkslategray;
    margin: 0rem auto;
    position: relative;
    box-shadow: 5px 3px 5px gray;
}

.form-control{
    position: relative;
    width: 80%; 
    margin:  1.6rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    overflow: auto;
}
.form-control #item_img{
    font-size: 8rem;
    padding:0 2rem;
    border: 3px dashed gray;
    margin: .7rem 0 1rem 0;
}

.file-upload-btn{
    background-color: gainsboro;
    border-radius: 3px;
    width: 8rem;
    display: inline-block;
    /* margin-left: 0rem; */
    padding: .1rem .3rem;
    border: 1px solid black;
}

.form-control label{
    font-size: 1.1rem; 
    font-weight: 500; 
}

.form-control input{
    font-size: 1.2rem;
    padding: 8px 16px;
    background-color:beige;
    border: 1px solid #d9d9d9;
    /* margin-bottom: 1rem; */
    border-radius: 10px;
    outline:transparent;
}
input[type="text"]:focus{
    background-color: white;
    border: 2px dashed gray;
}

input.btn{
    padding: .3rem 1rem;
    font-size: 1.1rem;
    border-radius:9px 1px 9px 1px ;
    border-color: gainsboro;
    margin: 1rem auto;
    display: block;
    width: 20%;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
    transition: .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn.cancel{
    background-color: coral;
    color: aliceblue;
}

.btn.submit{
    background-color: green;
    color: aliceblue;
}