    
<div class="stats-bar">

    <a routerLink="/my-posts">
        <app-summary-card [statTitle]="totalPostTitle" [stat]="totalPostStat"></app-summary-card>
    </a>
    <a routerLink="/my-solds">
        <app-summary-card [statTitle]="soldTitle" [stat]="soldStat"></app-summary-card>
    </a> 

    <a routerLink="/my-wins">
        <app-summary-card [statTitle]="wonTitle" [stat]="wonStat"></app-summary-card>
    </a> 
 
</div>
<p [ngStyle]="{
    'text-align': 'center',
    'margin-top': '1rem',
    'text-decoration': 'underline',
    'font-size': '3rem',
    'color': 'gray'}"
    >
    overall stats</p>