<div class="all-users-header">
    <h1 class="page-heading">All Users</h1>    
    <app-button 
        text="{{showUserForm?'cancel':'create user'}}" 
        color="{{showUserForm?'crimson':'darkgreen'}}" 
        (btnClick)="toggleForm()" 
    >    
    </app-button>
</div>

<app-create-user-form (onUserAdded)="addUser($event)" *ngIf="showUserForm"></app-create-user-form>


<div class="list-heading-3">
        <h3 class="badge">uid</h3>
        <h3 class="name">title</h3>
        <h3 class="email">email</h3>
</div>
<ol class="all-users-list">

    <li *ngFor="let user of allUsers">
        <div class="user-item"> 
            <span class="badge">{{user.uid}}</span>
            <span class="name">{{user.name}}</span>
            <span class="email">{{user.email}}</span>
        </div>
        <button type="button" class="remove" title="remove user"
        (click)="removeUser(user)">x</button>
    </li>
</ol>