form.bid-form{
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    width: 40vw;
    /* height: 40vh; */
    margin: 2rem auto;
    /* border: 1px solid firebrick; */
    padding: .3rem 3rem 2rem 3rem;
    text-align: center;
    border-radius: 10px ;
    background-color:darkolivegreen;
    /* transform: scale(0); */
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  .btn:focus {
    outline: none;
  }
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn-block {
    display: block;
    /* width: 100%; */
  }
  
  .form-control {
    margin: 20px 0;
  }
  
  .form-control label {
    display: block;
    color: #fff;
  }
  
  .form-control input {
    width: 50%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
    border-radius: 10px;
    text-align: center; 
    outline: none;
    border: none;
}