#bids-overlay{
    position: absolute;
    z-index: 4;
    top: 0;
    left: 50%;
    transform: translateX(-50%);    
    width: 70vw;
    height: 100vh;
    /* margin: 0 auto; */
    text-align: center; 
    padding-top: 2rem; 
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: blur(10px);
}
 

#bids-overlay ul{
    list-style-type: none;
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    border: 1px solid black;
}

ul.my-bids li{
    display: flex;
    border: 1px dashed palevioletred;
    justify-content: space-between;
} 

ul.my-bids li span{
    display: inline-block;
}

#bids-overlay h2.overlay-title{
    margin-bottom: 3rem;
}

ul.my-bids li span:last-child{
    padding-right: 1rem;
}