<div id="bids-overlay" *ngIf="showMyBidsOverlay" >
    <!-- <button type="button" class="overlay-close">x</button> -->
    <!-- <app-button text="back" color="crimson" (btnClick)="closeOverlay()"></app-button> -->
    <button (click)="closeOverlay()">
        <i class="fa-solid fa-arrow-left"></i>
    </button>

    <h2 class="overlay-title">{{calledBy|uppercase}}</h2>  
    <ul class="my-bids">
       <li *ngFor="let bid of myBids">
           <span>{{bid.id}}</span>
           <span>{{bid.id}}</span>
           <span>{{bid.id}}/-</span>
        </li>

       <!-- <li *ngFor="let bid of bids">
        <a routerLink="/detail/{{bid.pid}}">     
            <span class="badge">{{bid.pid}}</span>
            <span class="name">{{bid.title}}</span>
            <span class="price">{{bid.running_price}}</span>
        </a>
        <button type="button" class="delete" title="delete bid"
        (click)="delete(bid)">x</button>
        </li> -->
    </ul>
</div>