<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="name">User name:</label>
    <input
      pInputText
      type="text"
      name="name"
      [(ngModel)]="name"
      id="name"
      placeholder="user name"
    />
  </div>
  <div class="form-control">
    <label for="password">password:</label>
    <p-password
      name="password"
      [(ngModel)]="password"
      id="password"
      placeholder="password"
    ></p-password>
  </div>

  <div class="form-control">
    <label for="role">role:</label>
    <select name="role" [(ngModel)]="role" id="role">
      <option value="ADMIN">admin</option>
      <option value="USER">user</option>
    </select>
    <!-- <p-dropdown id="role" [options]="allRoles" [(ngModel)]="role"></p-dropdown> -->
  </div>

  <button type="submit" pButton label="create"></button>
</form>
